.container {
    display: flex;
  }
  .sidebar {
    flex: 1;
    background-color: #ffffff;
    /* padding: 20px; */
  }
  
  .mainbar {
    flex: 4;
    background-color: #f0f0f0;
    padding: 20px;
  }
  .products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .product-card {
    width: 250px;
    height: 450px;
  
  }